<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template/style.css">
    <title>Document</title>
</head>
<body>
    <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">HEADER TOP</section>
                <section id="header_center">HEADER CENTER</section>
                <section id="header_bottom">HEADER BOTTOM</section>
            </header>
            <section id="left">
                <section id="articles">
                    <article id="news">
                        <div id="news_img">NEWS IMG</div>
                        <div id="news_title">NEWS TITLE</div>
                        <div id="author">AUTHOR</div>
                    </article>
                    <nav id="other_articles">
                        <article>
                            <div class="img">IMG</div>
                            <div class="title">TITLE</div>
                        </article>
                        <article>
                            <div class="img">IMG</div>
                            <div class="title">TITLE</div>
                        </article>
                        <article>
                            <div class="img">IMG</div>
                            <div class="title">TITLE</div>
                        </article>
                    </nav>
                </section>
            </section>
            <section id="right">RIGHT</section>
            <div class="clearfix"></div>
            <footer>
                FOOTER
            </footer>
        </div>
    </div>
</body>
</html>