#container {
    width: 40%;
    margin: 50px auto
}

form {
    width: 100%
}

.row {
    width: 100%;
    display: flex!important;
    justify-content: flex-start;
    margin: 0 auto
}

a.btn {
    width: 30%;
    display: block;
    margin: 5px auto;
    border-radius: 5px 5px 5px 5px
}

form .input-field, form p {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    text-align: center;
}

#digicode, #password {
    width: 60%;
    margin: 0 auto;
}

.hide {
    display: none;
}

#digicode section {
    margin: 5px 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}

.case {
    width: 23%;
    cursor: pointer;
    border: solid gray 1px;
    border-radius: 5px 5px 5px 5px;
    background-color: #cecece;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.case:hover {
    background-color: darkgrey;

}

#password {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.pwdElement, #delPwdBtn {
    margin-top: 20px;
    display: block;
    width: 14%;
    text-align: center;
}

#delBtn {
    right: 0!important;
    cursor: pointer;
}

#delPwdBtn {
    cursor: pointer;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-color: rgb(158,158,158)!important;
    box-shadow: none
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: rgb(158,158,158)!important
}

.input-field .prefix, .input-field .prefix.active {
    color: rgb(158, 158, 158)
}


.input-field #id_client.error {
    border-bottom: solid 2px red!important;
}

.input-field #id_client.success {
    border-bottom: solid 2px limegreen!important;
}

.input-field i.success {
    color: limegreen!important;
    border: none!important
}

span.info {
    padding: 0 7px;
    margin-left: 2px;
    border: .5px rgb(158, 158, 158) solid;
    border-radius: 25px 25px 25px 25px
}

#info-box {
    padding: 2px;
    border: black 1px solid;
    text-align: left;
}
